.sidebar-logo button {
    background: none;
    border: none;
    text-shadow: none;
    border-radius: inherit;
    width: auto;
    box-shadow: none;
}

.sidebar-logo button.active > .icon-bar-2 {
    background-color: #666;
}
.sidebar-logo button.active > .icon-bar-1 {
    top: auto;
    transform: none;
    position: static;
}
.sidebar-logo button.active > .icon-bar-3 {
    top: auto;
    transform: none;
    position: static;
}

.mural-box-titulo h2, .mural-box-content,
.info1-saldo div, .info1-saldo span,
.info2-col1 span, .info2-col2-box1 span
{
    text-shadow: 0 /*{a-page-shadow-x}*/ 1px /*{a-page-shadow-y}*/ 0 /*{a-page-shadow-radius}*/ #666 /*{a-page-shadow-color}*/;
}

#canvasloader-container {
    position: fixed;
}
