<div class="col-md-7 padding-right-fix">
    <div class="dados-cadastrais">

        <div class="row">
            <div class="col-xs-3 col-md-3 dc-foto">
                <i class="icon icon-cadastro glyphicon glyphicon-user"></i>
            </div>
            <div class="col-xs-9 col-md-9 dc-dados">
                <div class="dc-dados-titulo">
                    <span class="icon-b"></span>
                    <h2>Dados Cadastrais</h2>
                    <i class="icon icon-cadastro glyphicon glyphicon-user"></i>
                </div>
                <div class="dc-dados-conteudo">
                    <div class="col-md-12 col-lg-6 dc-dados-col1">
                        <div><strong>Nome:</strong> <span>MARILENE MATIAS MALAQUIAS</span></div>
                        <div><strong>Endereço:</strong> <span>AV. DR SILVA MELO - COND. MARAJOARA I</span></div>
                        <div><strong>Bairro:</strong> <span>JARDIM TROPICAL</span></div>
                        <div><strong>Cidade:</strong> <span></span></div>
                        <div><strong>Telefone:</strong> <span></span></div>
                        <div><strong>E-mail:</strong> <span>suporte@cmcorp.com.br</span></div>
                        <div><strong>RG:</strong> <span></span></div>
                        <div><strong>CPF:</strong> <span>07897326705</span></div>
                    </div>
                    <div class="col-md-12 col-lg-6 dc-dados-col2">
                        <div><strong>DADOS BANCÁRIOS</strong></div>
                        <div><strong>Banco:</strong> <span></span></div>
                        <div><strong>Agência:</strong> <span></span></div>
                        <div><strong>C/c:</strong> <span></span></div>
                        <br />
                        <div><strong>DEPENDENTES</strong></div>
                        <div><span>Meu Filho</span></div>
                    </div>
                </div>
            </div>
            <div class="dc-dados-botoes">
                <a href="#">
                    <div class="button">
                        <i class="glyphicon glyphicon-list-alt"></i>
                        <span>Extrato</span>
                    </div>
                </a>
                <a href="#">
                    <div class="button">
                        <i class="glyphicon glyphicon-edit"></i>
                        <span>Editar</span>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

<div class="col-md-5">
    <div class="mural">
        <div class="mural-box">
            <div class="mural-box-titulo">
                <span class="icon-b"></span>
                <h2>Mural de Recados</h2>
                <i class="icon icon-mural glyphicon glyphicon-comment"></i>
            </div>
            <div class="mural-box-content">
                <div class="mural-bt-data">22.05.2014</div>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <p>Maecenas felis augue, ullamcorper vitae egestas nec, ornare at leo. Donec tincidunt a ipsum sed convallis. Nam dignissim quam sed nisl facilisis, sed placerat nulla eleifend. Aliquam at nunc ut ipsum posuere vestibulum et eget mi.</p>
                <hr>
                <div class="mural-bt-data">22.05.2014</div>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                <div>Maecenas felis augue, ullamcorper vitae egestas nec, ornare at leo. Donec tincidunt a ipsum sed convallis. Nam dignissim quam sed nisl facilisis, sed placerat nulla eleifend. Aliquam at nunc ut ipsum posuere vestibulum et eget mi.</div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6 padding-right-fix">
    <div class="info1">
        <div class="info1-titulo">
            <span class="icon-b"></span>
            <h2>CONTRIBUIÇÃO ACUMULADA</h2>
            <!--<i class="icon icon-estilo1 glyphicon glyphicon-folder-open"></i>-->
        </div>
        <div class="info1-saldo">
            <div class="info1-saldo-valor">R$485,69</div>
            <span>Saldo acumulado</span>
        </div>
        <div class="info1-geral">
            <div class="info1-g-1">
                <div class="info1-g-1-valor">
                    <i class="icon icon-pessoa glyphicon glyphicon-user"></i>
                    <span class="info1-g-1-valor-text">R$485,69</span>
                </div>
                <div class="barra-de-progresso">
                    <span></span>
                </div>
                <div class="info1-g-1-titulo">
                    Participante
                </div>
            </div>
            <div class="info1-g-2">
                <div class="info1-g-2-valor">
                    <i class="icon icon-pessoa glyphicon glyphicon-hdd"></i>
                    <span class="info1-g-2-valor-text">R$485,69</span>
                </div>
                <div class="barra-de-progresso">
                    <span></span>
                </div>
                <div class="info1-g-2-titulo">
                    Patrocinadora
                </div>
            </div>
            <div class="info1-g-3">
                <div class="info1-g-3-valor">
                    <i class="icon icon-pessoa glyphicon glyphicon-stats"></i>
                    <span class="info1-g-3-valor-text">R$485,69</span>
                </div>
                <div class="barra-de-progresso">
                    <span></span>
                </div>
                <div class="info1-g-3-titulo">
                    Rendimento no Período
                </div>
            </div>
            <span class="clear"></span>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="info2">
        <div class="info2-titulo">
            <span class="icon-b"></span>
            <h2>CONTRIBUIÇÃO DO MÊS</h2>
            <!--<i class="icon icon-estilo1 glyphicon glyphicon-folder-open"></i>-->
        </div>
        <div class="info2-col1">
            <div class="info2-col1-row1">
                <div class="info2-c1-r1-box1">
                    <div class="row1">
                        <span>MINHA CONTRIBUIÇÃO</span>
                    </div>
                    <div class="row2">
                        <span class="first">R$485,69</span>
                    </div>
                </div>
                <div class="info2-c1-r1-box2">
                    <div class="row1">
                        <span>CONTRIBUIÇÃO PATROCINADORA</span>
                    </div>
                    <div class="row2">
                        <span class="first">R$485,69</span>
                    </div>
                </div>
            </div>
            <div class="info2-col1-row2">
                <span class="first">R$485,69</span>
                <span class="last">SALário de participação</span>
            </div>
        </div>
        <div class="info2-col2">
            <div class="info2-col2-box1">
                <span class="first">R$10.000,00</span>
                <span class="last">TOTAL</span>
            </div>
            <div class="info2-col2-box2">
                <span class="first">R$485,69</span>
                <div class="barra-de-progresso">
                    <span></span>
                </div>
                <span class="last">Contribuição Previdenciária</span>
            </div>
            <div class="info2-col2-box3">
                <span class="first">R$485,69</span>
                <div class="barra-de-progresso">
                    <span></span>
                </div>
                <span class="last">Contribuição Risco</span>
            </div>
            <div class="info2-col2-box4">
                <span class="first">R$485,69</span>
                <div class="barra-de-progresso">
                    <span></span>
                </div>
                <span class="last">Contribuição administrativa</span>
            </div>
        </div>
        <span class="clear"></span>
    </div>
</div>

<!--
                            <div class="col-md-12">
                                <div class="cmr3-box1">
                                    <div class="cmr3-box1-titulo">
                                        <span class="icon-b"></span>
                                        <h2>MINHA CONTa. Aposentadoria.</h2>
                                    </div>
                                    <div class="cmr3-box1-icon">
                                        <a id="cmr3-box1-icon"><span class="icon-position b-azul3"><span class="icon icon-ok-verde"></span></span></a>
                                    </div>
                                    <div class="cmr3-box1-col1">
                                        <div class="cmr3-b1-c1-row1 b-verde1">
                                        <span id="VSW_VALORTOTALFGB">
                                            <span class="ajax-loader-branco posicao1"></span>
                                        </span>
                                            <span>Vr. Total do FGB</span>
                                        </div>
                                        <div class="cmr3-b1-c1-row2">
                                            <div class="cmr3-b1-c1-row1-col1 b-verde1">
                                                <span>2014</span>
                                                <span>tempo de vínculo</span>
                                            </div>
                                            <div class="cmr3-b1-c1-row1-col2 b-verde1">
                                                <a href="#">
                                                    <span>OUTRAS</span>
                                                    <span>SIMULAÇÕES</span>
                                                <span class="seta b-verde4">
                                                    <i class="seta-direita"></i>
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cmr3-box1-col2">

                                        <button class="prev prev-cmr3 disabled">
                                            <div class="b-verde4">
                                                <span class="seta-esquerda">
                                                </span>
                                            </div>
                                        </button>
                                        <button class="next next-cmr3">
                                            <div class="b-verde4">
                                                <span class="seta-direita">
                                                </span>
                                            </div>
                                        </button>

                                        </button>

                                        <div class="cmr3-box1-col2-content">
                                            <ul>
                                                <li>
                                                    <div class="row1">

                                                        <div class="col1 b-verde4"></div>
                                                        <span>Vr. À Vista do FGB</span>

                                                        <div class="col2"></div>
                                                        <span id="VSW_VLRRESGATEAPOS">
                                                            <span class="ajax-loader-verde posicao2"></span>
                                                        </span>

                                                    </div>

                                                    <div class="row2 duasLinhas">

                                                        <div class="col1 b-verde4"></div>
                                                        <span>Vr. FGB Aposentadoria</span>

                                                        <div class="col2"></div>
                                                        <span id="VSW_VLBASEAPOS">
                                                            <span class="ajax-loader-verde posicao2"></span>
                                                        </span>

                                                    </div>

                                                </li>

                                                <li>
                                                    <div class="row1">

                                                        <div class="col1 b-verde4"></div>
                                                        <span>Fator Atuarial</span>

                                                        <div class="col2"></div>
                                                        <span id="VSW_FTATUARIAL">
                                                            <span class="ajax-loader-verde posicao2"></span>
                                                        </span>

                                                    </div>

                                                    <div class="row2 duasLinhas">

                                                        <div class="col1 b-verde4"></div>
                                                        <span>Fator Capacidade Beneficio</span>

                                                        <div class="col2"></div>
                                                        <span id="VSW_FTCAPBENEF">
                                                            <span class="ajax-loader-verde posicao2"></span>
                                                        </span>

                                                    </div>

                                                </li>

                                                <li>
                                                    <div class="row1">

                                                        <div class="col1 b-verde4"></div>
                                                        <span>Benefício Inicial</span>

                                                        <div class="col2"></div>
                                                        <span id="VSW_VLBENEFINICIAL">
                                                            <span class="ajax-loader-verde posicao2"></span>
                                                        </span>

                                                    </div>

                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="clear"></div>


                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="cmr4-box1">
                                    <div class="cmr4-box1-titulo">
                                        <span class="icon-b"></span>
                                        <h2>MINHA CONTa. CONTRIBUIÇÃO DO MÊS</h2>
                                    </div>
                                    <div class="cmr4-box1-icon">
                                        <span class="icon-position b-azul3"><span class="icon icon-ok-laranja"></span></span>
                                    </div>
                                    <div class="cmr4-box1-col1">
                                        <div class="cmr4-b1-c1-row1 b-laranja1">
                                        <span id="VSW_VLTOTRESGATE">
                                            <span class="ajax-loader-branco posicao1"></span>
                                        </span>
                                            <span>Total do Resgate</span>
                                        </div>
                                        <div class="cmr4-b1-c1-row2">
                                            <div class="cmr4-b1-c1-row1-col1 b-laranja1">
                                                <span>2014</span>
                                                <span>tempo de vínculo</span>
                                            </div>
                                            <div class="cmr4-b1-c1-row1-col2 b-laranja1">
                                                <a href="#">
                                                    <span>OUTRAS</span>
                                                    <span>SIMULAÇÕES</span>
                                                <span class="seta b-laranja2">
                                                    <i class="seta-direita"></i>
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="cmr4-box1-col2">

                                        <button class="prev prev-cmr4 disabled">
                                            <div class="b-laranja2">
                                                <span class="seta-esquerda">
                                                </span>
                                            </div>
                                        </button>
                                        <button class="next next-cmr4">
                                            <div class="b-laranja2">
                                                <span class="seta-direita">
                                                </span>
                                            </div>
                                        </button>

                                        </button>

                                        <div class="cmr4-box1-col2-content">
                                            <ul>
                                                <li>
                                                    <div class="row1">

                                                        <div class="col1 b-laranja2"></div>
                                                        <span>Total Descontos</span>

                                                        <div class="col2"></div>
                                                        <span id="VSW_SLDTOTDESC">
                                                            <span class="ajax-loader-laranja posicao2"></span>
                                                        </span>

                                                    </div>

                                                    <div class="row2">

                                                        <div class="col1 b-laranja2"></div>
                                                        <span>Vr. Líquido</span>

                                                        <div class="col2"></div>
                                                        <span id="VSW_VLRLIQUIDO">
                                                            <span class="ajax-loader-laranja posicao2"></span>
                                                        </span>
                                                    </div>

                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="clear"></div>


                                </div>

                            </div>
-->

<!--<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Customer</th>
                    <th>City</th>
                    <th>Shipped</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="dashboard in dashboards">
                    <td>
                        {{ dashboard.orderID }}
                    </td>
                    <td>
                        {{ dashboard.customerName }}
                    </td>
                    <td>
                        {{ dashboard.shipperCity }}
                    </td>
                    <td>
                        <input type="checkbox" data-ng-model="dashboard.isShipped" disabled="disabled">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>-->
